<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I like working with computers. I am lucky enough that my hobby turns out to be my desire and profession . I do enjoy living in tech-community and how it works that I am comfortable working and sharing on cloud-native ; microservices; architecture and deployment. My experience in devops, sysops, cloud architecture and micro-services with docker and kubernetes could definitely be helpful. I have a keen interest in reliable information systems and building high-availability architecture.
            </p>
            <p class="paragraph-text justify-text">
                Professional cloud solution architect / DevOps Engineer with a total of 7+ years of experience in cloud engineering and architecting. DevOps and SysOps experience, including AWS, ITIL, Redhat Linux, OpenShift Container Platform, OpenSource Technology, Virtualization, Docker, Kubernetes, and Micro-services. Experience in the optimization of Amazon Web Services cloud platform and other well-architected experience in cloud-native platforms and on-premise environment.            </p>

        </div>
    </section>
</div>
