<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I love playing with computers. I am lucky enough that my hobby turns out to be my desired career and profession. I enjoy living in tech-community and how it works. I am working flexibly and always love to share on cloud-native, microservices, cloud architecture and deployments. 
                Upon my total 7 yrs working experience in networking, system engineering, devops, sysops, cloud architecture, cloud-native and microservices can be assured creating reliable information systems and erecting high availability architecture.
            </p>
            <p class="paragraph-text justify-text">
                Get to know more? <a href="https://www.linkedin.com/in/joseph-phyo/" target="_blank">Hit my linkedin profile</a>

        </div>
    </section>
</div>
