<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I love playing with computers. I am lucky enough that my hobby turns out to be my desire and profession . I do enjoy living in tech-community and how it works. I am flexible working and always love to share on cloud-native ; microservices; architecture and deployment. Upon my 7 yrs working exp in system engineering, devops, sysops, cloud architecture, cloud-native and micro-services can be assured creating in reliable information systems and erecting high-availability architecture.</p>
            <p class="paragraph-text justify-text">
                Get to know more? <a href="https://www.linkedin.com/in/joseph1990/">Hit my linkedin profile</a>

        </div>
    </section>
</div>
