<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="term-prompt-line">
                <span class="prompt-user">josephphyo</span><span class="prompt-at">@</span><span class="prompt-host">github</span><span class="prompt-colon">:</span><span class="prompt-path">~</span><span class="prompt-dollar"> $</span>
                <span class="prompt-cmd"> contact --help</span>
            </div>
            <div class="term-output-heading"># Knock .. Knock</div>
            <p class="paragraph-text">
                I'd love to hear from you! I'm open to collaborations, especially on community projects and cloud-native related projects. Also interesting work opportunity? Shoot. Just want to have a coffee and talk about cloud architecture, microservices, or movies? Awesome.
            </p>
            <p class="paragraph-text">
                Please feel free to write to me for anything: <a href="mailto:{{ site.email }}">{{ site.email }}</a>. It might take me a day to get back, but rest assured, you'll hear from me.
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
<span class="hint--bottom bottom-link" aria-label="DevCommunity">
                    <a href="https://dev.to/phyominhtun">
                        <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Phyo Min Htun (Joseph)'s DEV Community Profile" height="30" width="30">
                    </a>
                </span>
            </div>
        </div>
    </section>
</div>
