<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Community Contribution</div>
            
                <div class="project-technologies">

                     <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Featured</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('talks')">Talks</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('contributions')">Contributions</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('awards')">Awards</a>
                    <!-- <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('aws')">AWS</a> 
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('devops')">DevOps</a> -->
                </div> 

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>